<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androidtutorialpoint.ineed">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".proj.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".proj.activities.SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".proj.activities.LoginActivity"
            android:theme="@style/AppTheme.Blue.NoActionBar" />
        <activity
            android:name=".proj.activities.ChangePasswordActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".proj.activities.UpdateProfileActivity" />
        <activity android:name=".proj.activities.AboutActivity" />
        <activity android:name=".proj.activities.TermsofUse" />
        <activity android:name=".proj.activities.Welcome" />
        <activity
            android:name=".proj.activities.SignUpActivity"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".proj.activities.Search" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".proj.activities.ResetPasswordsActivity" />
        <activity
            android:name=".proj.activities.ContactUsActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".proj.activities.Splash2Activity" />
        <activity android:name=".proj.activities.DashboardActivity" />
        <activity
            android:name=".proj.activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".proj.activities.ProfileViewed" />
        <activity
            android:name=".proj.activities.DialogActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.MyDialog" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAp-4py1BmVVoF7q4TdYogCkVX5vO5qPPk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".proj.activities.PayActivity" />
        <activity android:name=".proj.activities.TestActivity" />
        <activity android:name=".proj.activities.HelpActivity" />
        <activity android:name=".proj.activities.HelpDetailActivity" />
        <activity android:name=".proj.activities.FilterActivity" />
        <activity android:name=".proj.activities.UpgradePlanActivity" />
        <activity
            android:name=".proj.activities.WorkExperience"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".proj.activities.EducationAdd"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".proj.activities.PersonalAdd"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".proj.activities.UploadResumeActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.androidtutorialpoint.ineed.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity android:name=".proj.activities.AddSkillsActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".proj.activities.JobseekerDetailActivity"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>